# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
# 忽略系统生成的临时文件、日志文件、配置文件等
**/.VirtualBox/
**/.anaconda/
**/.atom/
**/.conda/
**/.condarc
**/.continuum/
**/.cursor/
**/.gnupg/
**/.lesshst
**/.matplotlib/
**/.npmrc
**/.packettracer
**/.ssh/
**/.tobii/
**/.trae-aicc/
**/.trae/
**/.vscode/
**/AppData/
**/Documents/
**/Downloads/
**/Favorites/
**/Links/
**/Music/
**/Pictures/
**/Saved Games/
**/Searches/
**/Videos/
**/Zotero/
**/bjia-library/
**/fit5047/
**/sangfor/
**/wekafiles/